.container {
    text-align: center;
}

.click-button {
    background-color: #ff4444;
    color: white;
    border: none;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.click-button:active {
    background-color: #cc0000;
}

.timer {
    font-size: 24px;
    margin: 20px 0;
}

.results {
    font-size: 18px;
    line-height: 1.5;
}

